.cell {
  padding: 30px 20px;
  cursor: pointer;
}

.table {
  width: 100%;
  font-size: large;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
